<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- <mapper namespace="com.example.mapper.UserMapper"> -->

<mapper namespace="com.zb.backend.mapper.EquipmentMapper">
    <!-- Equipment实体类与equipment表的字段映射 -->
    <resultMap id="EquipmentResultMap" type="com.zb.backend.entity.Equipment">
        <result property="equipmentId" column="equipment_id"/>
        <result property="equipmentName" column="equipment_name"/>
        <result property="description" column="description"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>
    <!-- 批量查询存在的设备ID -->
    <select id="selectExistsByIds" resultType="java.lang.Long">
        SELECT equipment_id
        FROM equipment
        WHERE equipment_id IN
        <foreach collection="equipmentIds" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>
    <select id="selectSimpleEquipmentList" resultType="com.zb.backend.entity.Equipment">
        select equipment_id, equipment_name, description
        from EQUIPMENT;
    </select>
    <select id="selectNonExistsEquipmentByEquipmentIds" resultType="java.lang.Long">
        SELECT v.id
        FROM (
        VALUES
        <foreach collection="list" item="id" separator=",">
            (#{id})
        </foreach>
        ) AS v(id)
        WHERE v.id NOT IN (SELECT equipment_id FROM equipment)
    </select>
</mapper>