<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- <mapper namespace="com.example.mapper.UserMapper"> -->

<mapper namespace="com.zb.backend.mapper.MeetingRoomMapper">
    <!-- MeetingRoom实体类与meeting_rooms表的字段映射 -->
    <resultMap id="MeetingRoomResultMap" type="com.zb.backend.entity.MeetingRoom">
        <result property="roomId" column="room_id"/>
        <result property="roomName" column="room_name"/>
        <result property="roomType" column="room_type"/>
        <result property="capacity" column="capacity"/>
        <result property="location" column="location"/>
        <result property="roomStatus" column="room_status"/>
        <result property="imageUrl" column="image_url"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>
    <insert id="insertMeetingRoom">
        insert into MEETING_ROOMS (ROOM_NAME, ROOM_TYPE, CAPACITY, LOCATION, ROOM_STATUS, IMAGE_URL)
        values (#{roomName}, #{roomType}, #{capacity}, #{location}, #{roomStatus}, #{imageUrl});
    </insert>
    <select id="selectMeetingRoomByRoomName" resultType="com.zb.backend.entity.MeetingRoom">
        select room_id, room_name, room_type, capacity, location, room_status, image_url, create_time, update_time
        from MEETING_ROOMS
        where ROOM_NAME = #{roomName};
    </select>
</mapper>