<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- <mapper namespace="com.example.mapper.UserMapper"> -->

<mapper namespace="com.zb.backend.mapper.RoomEquipmentMapper">
    <!-- RoomEquipment实体类与room_equipment表的字段映射 -->
    <resultMap id="RoomEquipmentResultMap" type="com.zb.backend.entity.RoomEquipment">
        <result property="roomId" column="room_id"/>
        <result property="equipmentId" column="equipment_id"/>
    </resultMap>
    <insert id="insertRoomEquipmentList">
        insert into ROOM_EQUIPMENT (room_id, equipment_id)
        values
        <foreach collection="equipmentIds" item="equipmentId" separator=",">
            (#{roomId}, #{equipmentId})
        </foreach>
    </insert>
    <delete id="deleteByRoomId">
        delete
        from ROOM_EQUIPMENT
        where ROOM_ID = #{roomId};
    </delete>
    <delete id="deleteByEquipId">
        delete
        from ROOM_EQUIPMENT
        where EQUIPMENT_ID = #{equipmentId};
    </delete>
    <select id="selectEquipmentIdsByRoomId" resultType="java.lang.Long">
        SELECT
            e.equipment_id
        FROM equipment e
                 INNER JOIN room_equipment re ON e.equipment_id = re.equipment_id
        WHERE re.room_id = #{roomId}
    </select>
    <select id="selectEquipmentListByRoomId" resultType="com.zb.backend.entity.Equipment">
        SELECT
            e.equipment_id,
            e.equipment_name,
            e.description,
            e.create_time,
            e.update_time
        FROM equipment e
                 INNER JOIN room_equipment re ON e.equipment_id = re.equipment_id
        WHERE re.room_id = #{roomId}
    </select>
</mapper>