<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- <mapper namespace="com.example.mapper.UserMapper"> -->

<mapper namespace="com.zb.backend.mapper.RoomAvailabilityMapper">
    <!-- RoomAvailability实体类与room_availability表的字段映射 -->
    <resultMap id="RoomAvailabilityResultMap" type="com.zb.backend.entity.RoomAvailability">
        <result property="roomId" column="room_id"/>
        <result property="scheduleDate" column="schedule_date"/>
        <result property="slotStatus" column="slot_status"/>
    </resultMap>
    <select id="selectAvailabilityByRoomId" resultType="com.zb.backend.entity.RoomAvailability">
        select room_id, schedule_date, slot_status
        from ROOM_AVAILABILITY
        where ROOM_ID = #{roomId};
    </select>
</mapper>