worker_processes  auto; # 自动根据 CPU 核心数量设置 worker 数量

events {
    worker_connections  1024;  # 最大连接数
    multi_accept    on;     # 同时接受多个新连接
}

http {
    # 启用文件传输优化
    sendfile        on;
    tcp_nopush      on; # 与sendfile一起使用，优化数据包发送
    tcp_nodelay     on; # 禁用Nagle算法，减少延迟

    keepalive_timeout   30;     # 减少保持连接时间
    keepalive_requests  100;    # 每个保持连接的最大请求数

    # 启用响应压缩
    gzip    on;
    gzip_types text/plain text/css application/json application/javascript text/xml application/xml application/xml+rss text/javascript;
    gzip_min_length 1000;
    gzip_comp_level 6;
    gzip_vary       on;
    
    # 静态文件缓存
    open_file_cache max=1000    inactive=20s;
    open_file_cache_valid       30s;
    open_file_cache_min_uses    2;
    open_file_cache_errors      on;

    # 响应头隐藏服务器信息
    server_tokens   off;

    # 自定义反向代理配置
    server {
        listen 3000;    # 代理端口
        server_name localhost;

        # 转发前端请求
        location / {
            proxy_pass http://localhost:5173;  # Vue 服务地址
            proxy_set_header Host $host;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_set_header X-Forwarded-Proto $scheme;
        }

        # 转发后端请求
        location /api/ {
            proxy_pass http://localhost:8080/;  # SpringBoot 服务地址
            proxy_set_header Host $host;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_set_header X-Forwarded-Proto $scheme;
        }
    }
}
